html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.rightheader {
    margin: 1.5rem 0 1.3rem 1rem;
}
.rightheader h1{ 
    color: #DA0090;
    font-size: 3rem;
    margin-bottom: 1.3rem;
}
.rightheader p{
    margin-top: -1.7rem; 
}
ul {
    border-top: #DA0090 solid 1px;
    border-bottom: #DA0090 solid 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 0;
    list-style: none;
}
nav li {
    margin: 0.4rem 1rem 0.4rem 1rem;
}
nav a {
    color: darkslategray;
}
section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0.3rem auto;
    border-bottom: #DA0090 solid 1px;
}
article img{
    border-radius: 15px; 
    float: left;
    clear: none;
    margin-right: 1rem;
}
article{
    margin-bottom: 4rem;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: #DA0090 solid 1px;
}
footer ul {
    border-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
}
footer li {
    flex-basis: 5%;
}